@page "/Login"

<PageTitle>Login</PageTitle>

<h1>Inicio de Sesion</h1>

Bienvenido

<form method="post">
    <div class="form-group mb-3" >
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" class="form-control" required />
    </div>
    <div class="form-group mb-3">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-danger">Iniciar Sesión</button>

    
</form>